= simple_form_for(@program) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, :autofocus => true
    = f.text_area :intro, :size => "30x5"
    %br
    = f.text_area :description, :size => "30x15"

  .form-actions
    = f.button :submit
