<div class='raw'>
  <div class='span6'>
  <a href="https://twitter.com/HelloWorldKE" class="twitter-follow-button" data-show-count="false">Follow @HelloWorldKE</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <h1>Email Us!</h1>
    <%= simple_form_for @contact, :url => contacts_path do |f| %>
      <%= f.input :name, :label => t('.name') if ContactUs.require_name %>
      <%= f.input :email, :label => t('.email') %>
      <%= f.input :subject, :label => t('.subject') if ContactUs.require_subject %>
      <%= f.input :message, :as => :text, :input_html => { :cols => 50, :rows => 8 }, :label => t('.message') %>
      <%= f.button :submit, :label => t('.submit'), :button_html => { :alt => t('.submit'), :id => 'contact_us_contact_submit' } %>
    <% end %>
  </div>
  <div class="span5 pull-right">
    <div class='tweet'>
      <a class="twitter-timeline" href="https://twitter.com/NjeriChelimo" data-widget-id="342623886468325376">Tweets by @NjeriChelimo</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

    <h1>Call Us!</h1></br>
    <h2 class='phone-number'>0722838469</h3>
  </div>
</div>
