!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Helloworld"
      %meta{:content => content_for?(:description) ? yield(:description) : "helloWorld", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    %header.navbar.navbar-inverse.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      %div.stripes
        %span.stripe.item1
        %span.stripe.item2
        %span.stripe.item3
        %span.stripe.item4
        %span.stripe.item5
        %span.stripe.item6
        %span.stripe.item7
        %span.stripe.item8
        %span.stripe.item9
        %span.stripe.item10
        %span.stripe.item11
        %span.stripe.item12
        %span.stripe.item13
        %span.stripe.item14
        %span.stripe.item15
        %span.stripe.item16
        %span.stripe.item17
        %span.stripe.item18
        %span.stripe.item19
        %span.stripe.item20
        %span.stripe.item21
        %span.stripe.item22
        %span.stripe.item23
        %span.stripe.item24
        %span.stripe.item25
        %span.stripe.item26
        %span.stripe.item27
        %span.stripe.item28
        %span.stripe.item29
        %span.stripe.item30
        %span.stripe.item31
        %span.stripe.item32
        %span.stripe.item33
        %span.stripe.item34
        %span.stripe.item35
        %span.stripe.item36
        %span.stripe.item37
        %span.stripe.item38
        %span.stripe.item39
        %span.stripe.item40
        %span.stripe.item41
        %span.stripe.item42
        %span.stripe.item43
        %span.stripe.item44
        %span.stripe.item45
        %span.stripe.item46
        %span.stripe.item47
        %span.stripe.item48
        %span.stripe.item49
        %span.stripe.item50
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
          %footer
            = render 'layouts/footer'
      / ! end of .container
    / ! end of #main
